.env
node_modules/
data_scripts/kaggle_dataset/
__pycache__/
**/__pycache__/
.DS_Store

data_pipeline/.pytest_cache
data_pipeline/__pycache__
data_pipeline/tests/__pycache__
data_pipeline/data/raw/

backend.egg-info/
pytest_cache/
ruff_cache/